
@import "tailwindcss";


[data-theme="light"] {
  --bg-color: #ffffff;
  --secondary-bg-color : #F1F2F4;
  --text-color: #1f2937;
  --heading-color: #111827;
  --button-bg: #1d70f4;
  --button-text: #ffffff;
  --card-bg: #f9fafb;
  --border-color: #e5e7eb;
  --table-bg: #ffffff; 
  --table-header-bg: #e5e7eb; 
  --placeholder-text-color: #6b7280; 
  --best-seller-bg: #1E3A8A;
  --best-seller-text: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #0f172a;                 
  --secondary-bg-color : #1e293b;       
  --text-color: #e2e8f0;               
  --heading-color: #f8fafc;            
  --button-bg: #6366f1;                 
  --button-text: #ffffff;
  --card-bg: #364153;                   
  --border-color: #334155;              
  --table-bg: #1e293b;
  --table-header-bg: #334155;
  --table-text-color: #f1f5f9;
  --placeholder-text-color: #94a3b8;    
  --best-seller-bg: #0f2455;
  --best-seller-text: #f8fafc;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}



  
  